@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #334155;
	border-radius: 0px;
}

::-webkit-scrollbar-thumb {
	background: #0f172a;
	border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
	background: #0f172a;
}

#mover {
	-webkit-app-region: drag;
	-webkit-user-select: none;
}
